@import "normalize.scss";
@import "variables.scss";
//@import "header/main.scss";

@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/Lobster/LobsterRegular/LobsterRegular.eot");
  src: url("../fonts/Lobster/LobsterRegular/LobsterRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Lobster/LobsterRegular/LobsterRegular.woff") format("woff"),
  url("../fonts/Lobster/LobsterRegular/LobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

.ma-container {
  max-width: 1170px;
  margin: 0 auto;
}

.ma-header {
  width: 100%;
  position: fixed;
}

.ma-logo {
  float: left;
  text-decoration: none;
  color: #44c0c2;
  font-family: "LobsterRegular", sans-serif;
  font-size: 43px;
  font-weight: 400;
  padding-top: 20px;
}

.ma-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 0;
  margin: -10px 0 0;
  float: right;

  &__item {
    float: left;
    margin: 10px 0;
/*    &:last-child {
      padding-right: 0;
    }*/
  }

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    color: #484c55;
    font-family: "OpenSansRegular", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    padding: 42px 25px;
    &:before {
      display: block;
      background-color: #49cbcd;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 97px;
      height: 3px;
      opacity: 0;
      transform: translateY(-10px);
      transition: transform .2s ease-in, opacity .2s ease-in;
    }

    &--active:before, &:hover:before {
      opacity: 1;
      transform: translateY(0);
    }
    &--active {
      color: #49cbcd;
      background: #f8f9fb;
    }
  }
}
