//@import "normalize.scss";
@import "variables.scss";
//@import "header/main.scss";

@font-face {
  font-family: "LobsterRegular";
  src: url("../fonts/Lobster/LobsterRegular/LobsterRegular.eot");
  src: url("../fonts/Lobster/LobsterRegular/LobsterRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Lobster/LobsterRegular/LobsterRegular.woff") format("woff"),
  url("../fonts/Lobster/LobsterRegular/LobsterRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/OpenSans/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

.ma-container {
  max-width: 1170px;
  margin: 0 auto;
}

.ma-title {
  color: $secondaryColor;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.ma-logo {
  float: left;
  text-decoration: none;
  font-family: "LobsterRegular", sans-serif;
  font-size: 43px;
  font-weight: 400;
  color: #44c0c2;
  padding-top: 20px;
}

.ma-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: center;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;

  &__link {
    display: block;
    position: relative;
    text-decoration: none;
    color: #484c55;
    @extend .ma-title;
    font-size: 15px;
    line-height: 1;
    padding: 42px 25px;
    &:before {
      display: block;
      background-color: #49cbcd;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 97px;
      height: 3px;
      opacity: 0;
      transform: translateY(-10px);
      transition: transform .2s ease-in, opacity .2s ease-in;
    }

    &--active:before, &:hover:before {
      opacity: 1;
      transform: translateY(0);
    }
    &--active {
      color: #49cbcd;
      background: #f8f9fb;
    }
  }
}

.ma-banner {
  text-align: center;
  &__slide {
    padding-top: 135px;
    padding-bottom: 145px;
    background: #49cbcd url("../../assets/img/banner.jpg") 50% no-repeat;
    background-size: cover;
  }
  &__header {
    color: $primaryColor;
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 63px;
    font-weight: 600;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
  }
  &__description {
    @extend .ma-title;
    color: $primaryColor;
    font-size: 23px;
    margin-bottom: 55px;
  }
  &__button {
    color: $primaryColor;
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 40px;
    border: 3px solid $primaryColor;
    border-radius: 3px 2px 2px 3px;
    margin-bottom: 100px;
    &:hover {
      border: 3px solid rgba(73, 203, 205, 0.3);
      color: rgba(73, 203, 205, 1);
      box-shadow: 0 0 10px 1px rgba(73, 203, 205, 0.3);
    }
  }
}
.slick-prev, .slick-next {
  z-index: 1001;
  width: 52px;
  height: 52px;
}
.slick-prev:before, .slick-next:before {
  font-size: 52px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}


.slick-prev:before
{
  content: url("../../assets/img/left-arrow.png");
}
[dir='rtl'] .slick-prev:before
{
  content: url("../../assets/img/left-arrow.png");
}

.slick-next:before
{
  content: url("../../assets/img/right-arrow.png");
}
[dir='rtl'] .slick-next:before
{
  content: url("../../assets/img/right-arrow.png");
}





.ma-team {
  padding: 105px 0;
  text-align: center;
  &__header {
    @extend .ma-title;
    font-size: 42px;
    margin-bottom: 135px;

  }
}

.ma-team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ma-team-card {
  margin-bottom: 20px;
  &__item {
    width: 201px;
    height: 201px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;
    background: #eeeef0;
    margin: 0 auto 70px;
    &--plus {
      color: #f46d6d;
      font-family: "OpenSansBold", sans-serif;
      font-size: 85px;
      font-weight: 700;
      padding: 40px;
    }
  }
  &__title {
    @extend .ma-title;
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__subtitle {
    @extend .ma-title;
    margin-bottom: 35px;
  }
  &__description {
    @extend .ma-title;
  }
}

.ma-blog {
  background: #f1f1f1;
  padding-top: 115px;
  padding-bottom: 100px;
}

.ma-plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ma-plan {
  padding: 30px auto;
  text-align: center;
  margin-bottom: 20px;
  &__title {
    @extend .ma-title;
    color: $primaryColor;
    font-size: 26px;
    background: #475460;
    padding: 28px 130px;
    &--pro {
      padding-left: 165px;
      padding-right: 165px;
    }
    &--basic {
      padding-left: 155px;
      padding-right: 155px;
    }
  }
  &__content {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__content-item {
    @extend .ma-title;
    color: #8c9299;
    padding: 15px 0;
    border-bottom: 1px solid #ecf0f1;
    background: #ffffff;
    &:hover {
      background: #f9f9fb;
    }
    &--large {
      @extend .ma-title;
      color: #485460;
      font-size: 20px;
      padding: 25px 0;
    }
  }
  &__footer {
    padding: 30px 0;
    background: #f8f9fb;
  }
  &__btn {
    width: 170px;
    height: 40px;
    border-radius: 2px 3px 3px 2px;
    border: none;
    background-color: #788492;
    color: #ffffff;
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 17px;
    font-weight: 600;
    outline: none;
    &:hover {
      background: #48ccce;
    }
  }
}

.ma-plan-active {
  background: #48ccce;
}

.ma-contact {
  background: #292929 url("../../assets/img/contact-us.jpg") 50% no-repeat;
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 100px;
  text-align: center;
  &__title {
    @extend .ma-title;
    color: $primaryColor;
    font-size: 42px;
    margin-bottom: 120px;
  }
}

.ma-contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ma-contact-information {
  text-align: left;
  &__title {
    @extend .ma-title;
    color: $primaryColor;
    font-size: 24px;
    margin-bottom: 15px;
  }
  &__description {
    @extend .ma-title;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
  }
  &__social-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__social-item {
    margin: 0 15px 22px;
    border-radius: 50%;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      transform: scale(1.1);
      transition: all 0.25s ease-in;
    }
  }
  &__author {
    text-decoration: none;
    color: #bface2;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__phone {
    text-decoration: none;
    color: #bface2;
    @extend .ma-title;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__email {
    text-decoration: none;
    color: #bface2;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.ma-contact-form {
  text-align: right;
  &__name,
  &__email {
    width: 270px;
    border: none;
    border-radius: 3px 2px 2px 3px;
    background-color: $primaryColor;
    padding: 15px 0 15px 20px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  &__message {
    display: block;
    border: none;
    border-radius: 3px;
    background-color: $primaryColor;
    padding: 15px 0 15px 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    overflow: auto;
    resize: none;
  }
  &__btn {
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 2px 3px 3px 2px;
    background-color: #49cbcd;
    @extend .ma-title;
    color: $primaryColor;
    font-size: 22px;
    &:hover {
      color: #49cbcd;
      background: $primaryColor;
      border: 3px solid #49cbcd;
      border-radius: 1px;
    }
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  @extend .ma-title;
  color: #c1c1c1;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #49cbcd;
}


@media (max-width: 999px) {
  .ma-team-card {
    margin: 20px auto;
  }
}

@media (max-width: 1133px) {
  .ma-plan {
    margin: 20px auto;
  }
}

@media (max-width: 1051px) {
  .ma-contact-information,
  .ma-contact-form {
    margin: 20px auto;
  }
  .ma-contact-form__name,
  .ma-contact-form__message {
    margin-left: 0;
  }
}

@media (max-width: 1021px) {
  .ma-contact-information,
  .ma-contact-form {
    margin: 20px auto;
  }
}


@media (max-width: 1021px) {
  .ma-contact-information {
    text-align: center;
  }
  .ma-contact-information__social-item {
    margin: 0 auto 20px;
  }
  .ma-contact-information__social-item:first-child{
    margin-left: 45px;
  }
}

@media (max-width: 447px) {
  .ma-contact-information__social-item:first-child{
    margin-left: 35px;
  }
}

@media (max-width: 620px) {
  .ma-contact-form__name,
  .ma-contact-form__email,
  .ma-contact-form__message{
    margin: 15px auto;
    width: 100%;
  }
  .ma-contact-form {
    text-align: center;
  }
}