@import "variables/_variables";
@import "controls/_controls";
@import "fonts/_fonts";
@import "header/_main";
@import "banner/_main";
@import "team/_main";
@import "blog/_main";
@import "footer/_main";

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body, html {
  min-height: 100%;
}

.ma-container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 999px) {
  .ma-team-card {
    margin: 20px auto;
  }
}

@media (max-width: 1133px) {
  .ma-plan {
    margin: 20px auto;
  }
}

@media (max-width: 1051px) {
  .ma-contact-information,
  .ma-contact-form {
    margin: 20px auto;
  }
  .ma-contact-form__name,
  .ma-contact-form__message {
    margin-left: 0;
  }
}

@media (max-width: 1021px) {
  .ma-contact-information,
  .ma-contact-form {
    margin: 20px auto;
  }
}

@media (max-width: 1021px) {
  .ma-contact-information {
    text-align: center;
  }
  .ma-contact-information__social-item {
    margin: 0 auto 20px;
  }
  .ma-contact-information__social-item:first-child {
    margin-left: 45px;
  }
}

@media (max-width: 447px) {
  .ma-contact-information__social-item:first-child {
    margin-left: 35px;
  }
}

@media (max-width: 620px) {
  .ma-contact-form__name,
  .ma-contact-form__email,
  .ma-contact-form__message {
    margin: 15px auto;
    width: 100%;
  }
  .ma-contact-form {
    text-align: center;
  }
}